## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
# Your code here

sample_list_1 = random.sample(range(100),80)

print(sample_list_1)

[50, 85, 59, 87, 30, 18, 68, 97, 0, 6, 19, 73, 35, 95, 25, 93, 64, 7, 82, 44, 42, 8, 37, 14, 72, 53, 81, 58, 11, 60, 16, 71, 62, 9, 31, 92, 33, 29, 74, 96, 61, 12, 67, 80, 28, 34, 54, 24, 2, 98, 77, 49, 27, 70, 94, 57, 51, 4, 40, 55, 5, 17, 88, 46, 66, 1, 75, 23, 65, 48, 13, 10, 21, 3, 32, 38, 79, 89, 36, 47]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here

set1 = set()
for x in sample_list_1:
    set1.add(x)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [35]:
# Your code here

sample_list_2 = []

for x in range(80):
    i = random.randrange(0,101)
    sample_list_2.append(i)

print(sample_list_2)

[64, 22, 39, 76, 22, 71, 60, 99, 11, 96, 59, 61, 52, 62, 44, 69, 82, 94, 83, 16, 93, 14, 16, 78, 78, 81, 97, 65, 46, 52, 14, 81, 90, 71, 30, 73, 80, 37, 1, 40, 94, 33, 20, 52, 62, 40, 14, 62, 43, 32, 100, 28, 76, 90, 14, 20, 15, 62, 34, 54, 43, 11, 73, 28, 77, 83, 96, 55, 65, 33, 74, 55, 16, 18, 84, 77, 84, 84, 35, 44]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [36]:
# Your code here

set2 = set()
for x in sample_list_2:
    set2.add(x)

print(len(set2))

48

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [39]:
# Your code here

set3 = set1 - set2
print(set3)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 17, 19, 21, 23, 24, 25, 27, 29, 31, 36, 38, 42, 47, 48, 49, 50, 51, 53, 57, 58, 66, 67, 68, 70, 72, 75, 79, 85, 87, 88, 89, 92, 95, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [40]:
# Your code here

set4 = set2 - set1
print(set4)

{99, 100, 69, 39, 43, 76, 78, 15, 83, 20, 52, 22, 84, 90}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [41]:
# Your code here

set5 = set1 or set2
print(set2)

{1, 11, 14, 15, 16, 18, 20, 22, 28, 30, 32, 33, 34, 35, 37, 39, 40, 43, 44, 46, 52, 54, 55, 59, 60, 61, 62, 64, 65, 69, 71, 73, 74, 76, 77, 78, 80, 81, 82, 83, 84, 90, 93, 94, 96, 97, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [43]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
48
46
14
80

#### Create an empty set called `set6`.

In [45]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [46]:
# Your code here

set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 21, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 46, 47, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 77, 79, 80, 81, 82, 85, 87, 88, 89, 92, 93, 94, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [47]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [50]:
# Your code here

print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [53]:
# Your code here

set3_4 = set3.union(set4)
set3_4_5 = set3_4.union(set5)
set1_2 = set1.union(set2)

print(set3_4_5)
print(set1_2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [56]:
# Your code here

set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [57]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set()
for x in list_to_remove:
    set_to_remove.add(x)

set_remaining = set1 - set_to_remove
print(set_remaining)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 23, 24, 25, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 46, 47, 48, 50, 53, 54, 55, 57, 58, 60, 62, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 77, 80, 82, 85, 87, 88, 92, 93, 94, 95, 96, 97, 98}